<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrw.memoryleak">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnonymousLeakActivity"/>
        <activity android:name=".activity.HandlerActivity"/>
        <activity android:name=".activity.HandlerThreadActivity"/>
        <activity android:name=".activity.UIThreadWaitSonThreadActivity"/>
        <activity android:name=".activity.StringFormatTextViewActivity"/>
        <activity android:name=".activity.HtmlTextViewActivity"/>
        <activity android:name=".activity.FadeInFadeOutActivity"
            android:theme="@style/Anim_fade1"/>
        <activity android:name=".activity.FadeInFadeOutActivity2"
            android:theme="@style/Anim_fade2"/>
        <activity android:name=".activity.NormalListViewActivity"/>
        <activity android:name=".activity.FadeInFadeOutActivity3"/>
        <activity android:name=".activity.FadeInFadeOutActivity4"/>
        <activity android:name=".activity.NormalViewPagerActivity"/>
        <activity android:name=".activity.UniversalBottomSelectorFragmentActivity"/>
        <activity android:name=".activity.ComplexItemListActivity"/>
        <activity android:name=".activity.StickyListHeaderActivity"/>
        <activity android:name=".activity.TablayoutViewPagerActivity"/>
        <activity android:name=".activity.OKHttpActivity"/>
        <activity android:name=".activity.HttpURLConnectionActivity"/>
    </application>

</manifest>